body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: inherit;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#myform3, #myform6, #myform5, #myform4, #myform3, #myform2, #myform {
    position: absolute;
    left: 3000px
}

#header > div.navigation > ul > li:nth-child(5) > a{
    cursor: pointer;
    color: white;
}


