<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/footer-and-header.css}">
    <link rel="stylesheet" th:href="@{/css/buttons-and-text.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.7/css/all.css}">
    <title>Products</title>
</head>
<body>
<div th:replace="fragments/common::headerNavTwo"></div>

<div class="wrapper-article">
    <div class="wrapper-image">
        <img src="/images/slideshow/four.PNG" alt="">
    </div>
    <p class="text video-text">OAK ROASTED <br> COFFEE</p>
</div>

<section class="categories">
    <a href="" class="text brown">ALL</a>
    <a href="" class="text brown">DARK</a>
    <a href="" class="text brown">MEDIUM</a>
    <a href="" class="text brown">LIGHT</a>
</section>

<section class="products" >
    <div id="products" style="display: none"></div>
    <article class="wrapper-item" th:each="p : ${products}" >
        <div class="img-wrapper-item">
            <img src="data:image/jpg;base64,*{p.picture}" alt="no picture available">
        </div>
        <form th:action="@{/products}" th:method="POST" class="item-form">
            <input name="name" disabled type="text" th:value="*{p.name}" class="text brown">
            <div class="text-div-item">
                <p class="gold">PRICE:</p>
                <input name="price" class="gold inp-field" th:value="*{p.price.toString().concat('$')}">
            </div>
            <div class="buttons-div-item">
                <h4>Type</h4>
                <div class="item-button" id="type">
                    <input class="inp-field" name="type" th:value="*{p.type}">
                </div>
            </div>
            <div class="submit-btn-wrapper">
                <a th:href="@{/order-it/{id}(id=${p.id})}" type="submit" class="sbm-btn">ORDER IT<i class="transp fas fa-shopping-bag distance"></i></a>
            </div>
            <a th:href="@{/admin/edit-product/{id}(id=${p.id})}" class="btn-product">EDIT PRODUCT</a>
        </form>
    </article>
</section>

<div th:replace="fragments/common::footer"></div>
<script th:src="@{../js/header.js}"></script>
<script th:src="@{../js/product.js}"></script>
<script th:src="@{../js/media-header.js}"></script>
<script th:src="@{../js/coffees.js}"></script>
</body>
</html>
